<template>
<div class="home">
   <Header/>
   <main>
        <Jumbotron/>
        <Banner/>
        <Card/>
   </main> 
   <Footer/>
</div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Jumbotron from '@/components/Jumbotron.vue'
import Banner from '@/components/Banner.vue'
import Card from '@/components/Card.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'Home',
  components: {
    Header,
    Jumbotron,
    Banner,
    Card,
    Footer,
  }
}
</script>





