<template>
  <div>
    <Header/>
    <main>
      <div class="container mb-5" style="margin-top: 100px;">          
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 ">
                <div class="card" style="background-color:#bdc7c9;">
                    <div class="card-header">CREATE NEW BLOG</div>
                    <div class="card-body">
                        <form @submit.prevent="ppppppppppppp">
                            <div class="form-group">
                                <label for="title" class="d-flex justify-content-start">
                                    Title
                                </label>
                                <input type="title" :disabled="status == 'UPLOAD'" v-model="title" class="form-control mb-4" name="title">
                            </div>
                            <div class="form-group">
                                <label for="description" class="d-flex justify-content-start">
                                    Description
                                </label>
                                <textarea class="form-control mb-4" :disabled="status == 'UPLOAD'" v-model="description" name="description" rows="5"></textarea>
                            </div>
                            <div class="form-group" v-if="status == 'UPLOAD'">
                                <label for="description" class="d-flex justify-content-start">
                                    <pre>Photo :   </pre>
                                    <input type="file" name="photo" @change="changePhoto" ref="photo">
                                </label>
                            </div>
                            <div class="d-flex justify-content-center">                                              
                                <button @click="submitForm" v-if="status == 'CREATE'"
                                        class="btn btn-success py-2 px-5 d-flex align-items-center">
                                    {{ status }}
                                    <Loading v-if="loading"/>
                                </button>
                                <button @click="updateBlog" v-if="status == 'UPDATE'"
                                        class="btn btn-success py-2 px-5 d-flex align-items-center">
                                    {{ status }}
                                    <Loading v-if="loading"/>
                                </button>
                                <button @click="uploadPhoto" v-if="status == 'UPLOAD'"
                                        class="btn btn-success py-2 px-5 d-flex align-items-center">
                                    {{ status }}
                                    <Loading v-if="loading"/>
                                </button>
                                <button @click="clearForm" v-if="status != 'CREATE'"
                                        class="btn btn-danger py-2 px-5 d-flex align-items-center">
                                    CANCEL
                                    <Loading v-if="loading"/>
                                </button>   
                            </div>
                        </form>                     
                    </div>
                </div>
            </div>           
        </div>  
      </div>
      <div class="container"> 
           <div class="row mt-5">
            <div class="col">
                <table class="table table-hover table-bordered">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col" style="width: 5%;">No.</th>
                            <th scope="col" style="width: 20%;">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="width: 25%;">Photo</th>
                            <th scope="col" style="width: 20%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(blog, index) in blogs" :key="blog.id">
                            <th scope="row">{{ index + 1 }}</th>
                            <td class="text-left">{{ blog.title }}</td>
                            <td class="text-left">{{ blog.description.substring(0,30) }} ...</td>
                            <td>
                                <img :src="blog.photo ? apiDomain + blog.photo : 'https://randomuser.me/api/portraits/men/81.jpg'" class="card-img-top rounded-lg" alt="photo" style="height:100px; width:100px;" >
                            </td>
                            <td class="d-flex justify-content-center">
                                <button class="btn btn-primary p-2 mr-3" @click="editBlog(blog)">Edit</button>
                                <button class="btn btn-warning p-2 mr-3" @click="deleteBlog(blog)">Delete</button>
                                <button class="btn btn-success p-2" @click="editPhoto(blog)">Upload Photo</button>
                            </td>
                        </tr>                      
                    </tbody>
                </table>
            </div>
        </div> 
      </div>
    </main>
    <Footer/>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import Loading from '@/components/Loading.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
    name: 'Store',

    components: {
        Header,
        Footer,
        Loading
    },

    computed: {
        title       : {
            get () {
                return this.$store.getters['blogs/title']
            },
            set (value) {
                this.$store.commit('blogs/updateTitle', value)
            }
        },
        description : {
            get () {
                return this.$store.getters['blogs/description']
            },
            set (value) {
                this.$store.commit('blogs/updateDesc', value)
            }
        },
        ...mapGetters({
            blogs       : 'blogs/blogs',
            loading     : 'blogs/loading',
            status      : 'blogs/status',
            apiDomain   : 'blogs/apiDomain'
        })
    },

    methods: {
        ppppppppppppp   : () => {
            console.log('Running Well!')
        },
        ...mapMutations({
            editBlog    : 'blogs/editBlog',
            editPhoto   : 'blogs/editPhoto',
            clearForm   : 'blogs/clearForm',
            changePhoto : 'blogs/changePhoto'
        }),
        ...mapActions({
            deleteBlog  : 'blogs/deleteBlog',
            submitForm  : 'blogs/submitForm',
            updateBlog  : 'blogs/updateBlog',
            uploadPhoto : 'blogs/uploadPhoto'
        }),
    },

    created () {
        this.$store.dispatch('blogs/getBlogs')
    },

    mounted() {
        document.title = 'Create New Blog'
    },
}
</script>

<style scoped>
    .card {
        font-size: 16px;
    }
    .card-header {
        color : #2b4f60;
        font-weight: bold;
    }

    .card label {
        font-size: 14px;
        color : #2b4f60;
        font-weight: bold;
    }

    button {
        font-size: 14px;
        font-weight: bold;
    }

    input, textarea {
        font-size: 14px;
    }

    table thead {
        font-size: 14px;
    }

    table tbody {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }
</style>