<template>
    <div class="row mt-5">
        <div class="col">
            <table class="table table-hover table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col" style="width: 5%;">No.</th>
                        <th scope="col" style="width: 20%;">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col" style="width: 25%;">Photo</th>
                        <th scope="col" style="width: 20%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(blog, index) in blogs" :key="blog.id">
                        <th scope="row">{{ index + 1 }}</th>
                        <td class="text-left">{{ blog.title }}</td>
                        <td class="text-left">{{ blog.description.substring(0,30) }} ...</td>
                        <td>
                            <img :src="blog.photo ? apiDomain + blog.photo : 'https://randomuser.me/api/portraits/men/81.jpg'" class="card-img-top rounded-lg" alt="photo" style="height:100px; width:100px;" >
                        </td>
                        <td class="d-flex justify-content-center">
                            <button class="btn btn-primary p-2 mr-3" @click="editBlog(blog)">Edit</button>
                            <button class="btn btn-warning p-2 mr-3" @click="removeBlog(blog.id)">Delete</button>
                            <button class="btn btn-success p-2" @click="uploadPhoto(blog)">Upload Photo</button>
                        </td>
                    </tr>                      
                </tbody>
            </table>
        </div>
    </div> 
</template>