<template>
    <div>
        <Header/>
            <div class="container" style="margin-top:100px;">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card" style="background-color:#a2b29f;">
                            <div class="card-header">SILAHKAN LOGIN</div>
                            <div class="card-body">                        
                                <form action="#" 
                                    method="POST" 
                                    class="p-3"
                                    @submit.prevent="store">
                                    <div class="form-group">
                                        <label for="email" class="d-flex justify-content-start">
                                            Email
                                        </label>                                   
                                        <input type="email" class="form-control mb-4" name="email" id="email" v-model="form.email"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="d-flex justify-content-start">
                                            Password
                                        </label>
                                        <div>
                                            <input type="password" v-model="form.password" class="form-control mb-5" name="password" id="password">
                                        </div>
                                    </div>                    
                                    <button type="submit" class="btn btn-lg btn-primary py-2 px-4">LOGIN</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
    </div>
</template>

<script>
import Header from '@/components/Header.vue'
import swal from 'sweetalert';
// import axios from 'axios'
import { mapActions } from 'vuex'

export default {
  name: 'auth.Login',

  data() {
      return {
          form : {
              email : 'register@gmail.com',
              password : '12345678',
          }, 
      }
  },

  components : {
    Header,
  },

  methods: {
       ...mapActions({
            login :'auth/login',
        }),

      async store() {
        // await axios.post('http://demo-api-vue.sanbercloud.com/api/v2/auth/login', this.form)
        // let response = await axios.post('http://demo-api-vue.sanbercloud.com/api/v2/auth/login', this.form)
        // this.token = user.data.access_token; 
        // this.token = response; 
        // console.log(response);
        await this.login(this.form);
        this.$router.push('/');
        swal({
              title: "Anda Berhasil Login",
              button: "Close",
              timer: 2000,
        });

        // const token = response.data.access_token;
        // localStorage.setItem("token", token);
        // axios.defaults.headers.common["Access-Control-Allow-Origin"] = "*";
        // axios.defaults.headers.common["Authorization"] = token;
        // let response1 = await axios.post('http://demo-api-vue.sanbercloud.com/api/v2/auth/me', {
        //             headers : {
        //                 Authorization: 'Bearer ' + localStorage.getItem("token", token)
        //             }
        //         })
        //         console.log(response1)
      },   
  },

  mounted() {
      document.title = "Login"
  }
}
</script>

<style scoped>
    .card {
        font-size: 16px;
    }

    .card-header {
        color : #2b4f60;
        font-weight: bold;
    }

    .card label {
        font-size: 14px;
        color : #2b4f60;
        font-weight: bold;
    }

    button {
        font-size: 14px;
        font-weight: bold;
    }

    input {
        font-size: 14px;
    }
</style>
